@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-1 {
	background-color: #35303d;
}
.bg-dark-2 {
	background-color: #2f2937;
}

.bg-dark-3 {
	background-color: #342e3c;
}

.border-color-1 {
	border-color: #3c3643;
}
